body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
    background-color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    color: #333;
    backdrop-filter: blur(8px);
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

.header-logo {
  text-decoration: none;
  color: inherit;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  transition: 0.3s;
}

#menu-toggle {
  display: none;
}

nav a {
    color: #333;
    font-size: 1.2em;
    text-decoration: none;
    margin-left: 1.5rem;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.new-hero {
  display: flex;
  align-items: stretch;
}

.hero-text {
  flex: 0 0 40%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 3.7em;
  font-weight: bold;
  text-align: left;
}

.hero-image-wrapper {
  flex: 1 0 100%;
  height: auto;
}

.hero-svg {
  width: 100%;
  height: 100%;
}

.space {
    margin-left:80px;
}

footer {
    text-align: center;
    padding: 1rem;
    border-top: 1px solid #ddd;
    margin-top: 4rem;
    font-size: 0.9rem;
}

@media (max-width: 1200px) {
    .hero-text {
        font-size: 2.5em;
    }
}

@media (max-width: 768px) {
  header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between; 
  }

    .hamburger {
    display: flex;
  }

  nav {
    position: absolute;
    top: 60px; /* header高さの下 */
    right: 0;
    background-color: #fff;
    width: 200px;
    flex-direction: column;
    display: none;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  nav a {
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #ddd;
    color: #333 !important;
    display: block;
    text-align: left;
  }

  #menu-toggle:checked + .hamburger + nav {
    display: flex;
  }

    nav.active {
        display: flex;
    }

    .new-hero {
        flex-direction: column;
        height: auto;
    }

    .hero-text {
        display: none;
        height: 250px;
        padding-top: 6.5rem;
        font-size: 2.5em;
    }

    nav {
        margin-top: 0.5rem;
    }

    nav a {
        font-size: 1em;
        margin-right: 1rem;
        color: #fff;
    }

    nav a:hover {
        text-decoration: underline;
    }
}
.fa-solid.fa-file-pdf{
  margin-left: 3px;
}